[phases.setup]
nixPkgs = { python = "311" }

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = "python src/bot.py"

